/* Write your CSS here */
.bg-container {
    background-color: #07080c;
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    font-family: 'Roboto';
  }

  .heading {
    color: #ffffff;
    font-style: italic;
  }

   span {
    color: #c20a72;
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .image {
    /* style="max-width:70%;box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.12) */
    max-width: 70%;
    height: 60%;
  }
  
  .para {
    color: #cbd5e1;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .accelerate {
    color: #ffffff;
    background-color: #0b69ff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    height: 35px;
    width: 100px;
  }
  
  .accelerate:hover {
    cursor: pointer;
  }
  
  .brakes {
    color: #94a3b8;
    border-color: #94a3b8;
    background: transparent;
    /* background-color: #0b69ff; */
    /* border: none; */
    border-radius: 5px;
    margin-right: 10px;
    height: 35px;
    width: 100px;
  }
  
  .brakes:hover {
    cursor: pointer;
  }
  